@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-color: hsl(210, 36%, 96%);
}

.title h1 {
    font-family: 'Great Vibes', cursive;
    color: #c59d5f;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 6px;
}

.question__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 6px;
    color: rgba(0, 0, 0, 0.8);
}

.questions__list {
    width: 60%;
}

@media screen and (max-width: 991.98px) {
    .questions__list {
        width: 80%;
    }
}

@media screen and (max-width: 767.98px) {
    .questions__list {
        width: 100%;
    }
}

.question__btn {
    transition: all .5s;
}

.question__btn i {
    font-size: 28px;
    color: #c59d5f;
}

.question__btn:hover {
    transform: rotate(90deg);
}

.question__btn span:last-child {
    display: none;
}

.question__text {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: none;
}

.question__text p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.show-text .question__text {
    display: block;
}

.show-text .question__btn span:first-child {
    display: none;
}

.show-text .question__btn span:last-child {
    display: block;
}
